<!-- Footer Component -->
<footer class="footer section">
  <div class="footer-container container grid">
    <!-- FOOTER CONTENT 1 -->
    <div class="footer-content">
      <a href="index.html" class="footer-logo">
        <img src="../../public/images/logos/logo-purple.png" alt="" class="nav-logo-img footer-logo-img">
      </a>
      <p class="footer-discription">
        Enjoy the biggest sale <br />
        of your life.
      </p>
      <div class="footer-social">
        <a class="footer-social-link" href="#"><i class="fab fa-facebook"></i></a>
        <a class="footer-social-link" href="#"><i class="fab fa-instagram"></i></a>
        <a class="footer-social-link" href="#"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
    <!-- FOOTER CONTENT 2 -->
    <div class="footer-content">
      <h3 class="footer-title">About</h3>
      <ul class="footer-links">
        <li><a class="footer-link" href="about.html">About Us</a></li>
        <li><a class="footer-link" href="privacy.html">Privacy Policy</a></li>
      </ul>
    </div>
    <!-- FOOTER CONTENT 3 -->
    <div class="footer-content">
      <h3 class="footer-title">Our Services</h3>
      <ul class="footer-links">
        <li><a class="footer-link" href="shop.html">Shop</a></li>
        <li><a class="footer-link" href="return.html">Return & Exchange</a></li>
      </ul>
    </div>
    <!-- FOOTER CONTENT 4 -->
    <div class="footer-content">
      <h3 class="footer-title">Our Company</h3>
      <ul class="footer-links">
        <li><a class="footer-link" href="login.html">Login</a></li>
        <li><a class="footer-link" href="contact.html">Contact Us</a></li>
        <li><a class="footer-link" href="about.html">About Us</a></li>
      </ul>
    </div>
  </div>
  <span class="footer-copy">&#169; <span class="main-color">Fashion Freaks</span> All Right Reserved</span>
</footer>
